<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Clientes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Styles.css') }}">
</head>
<body>
    <h2>Lista de clientes</h2>
    <a href="{{ url_for('registrar_cliente') }}">
        <button type="button" class="boton-menu">Registrar nuevo cliente</button>
    </a>
    <a href="{{ url_for('menu_principal') }}">
        <button type="button" class="boton-menu">Regresar al menú</button>
    </a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>RFC</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Dirección</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente[0] }}</td>
                <td>{{ cliente[1] }}</td>
                <td>{{ cliente[2] }}</td>
                <td>{{ cliente[3] }}</td>
                <td>{{ cliente[4] }}</td>
                <td>{{ cliente[5] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
